USE [master]
GO
/****** Object:  Database [CommunityMedicine_DB]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE DATABASE [CommunityMedicine_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CommunityMedicine_DB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CommunityMedicine_DB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CommunityMedicine_DB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\CommunityMedicine_DB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CommunityMedicine_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CommunityMedicine_DB]
GO
/****** Object:  Table [dbo].[Center_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Center_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Code] [varchar](500) NOT NULL,
	[Password] [varchar](500) NOT NULL,
	[ThanaID] [int] NOT NULL,
 CONSTRAINT [PK_Center_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Disease_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Disease_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Description] [varchar](5000) NOT NULL,
	[Treatment] [varchar](5000) NOT NULL,
 CONSTRAINT [PK_Disease_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[District_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[District_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Population] [int] NULL,
 CONSTRAINT [PK_District_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Doctor_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Doctor_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Degree] [varchar](500) NOT NULL,
	[Specialization] [varchar](500) NOT NULL,
	[CenterID] [int] NOT NULL,
 CONSTRAINT [PK_Doctor_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MedicineList_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MedicineList_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineNameWithML] [varchar](500) NOT NULL,
 CONSTRAINT [PK_MedicineList_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Prescription_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Prescription_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineID] [int] NOT NULL,
	[DiseaseID] [int] NOT NULL,
	[Dose] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MealTime] [varchar](50) NOT NULL,
	[Note] [varchar](50) NOT NULL,
	[TreatmentID] [int] NOT NULL,
 CONSTRAINT [PK_Prescription_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quantity_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quantity_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CenterID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
 CONSTRAINT [PK_Quantity_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thana_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Thana_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[DistrictID] [int] NOT NULL,
 CONSTRAINT [PK_Thana_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Treatment_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Treatment_tbl](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CenterID] [int] NOT NULL,
	[voterID] [varchar](50) NOT NULL,
	[DoctorID] [int] NOT NULL,
	[TreatmentDate] [varchar](50) NOT NULL,
	[Observation] [varchar](500) NOT NULL,
 CONSTRAINT [PK_Treatment_tbl] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Center_tbl] ON 

INSERT [dbo].[Center_tbl] ([ID], [Name], [Code], [Password], [ThanaID]) VALUES (1, N'Donia', N'Donia-05-01', N'lEXhLbBFXplNwt5Ejf2FoILw/9/Ex7jqKa8By7TWYsk=', 5)
INSERT [dbo].[Center_tbl] ([ID], [Name], [Code], [Password], [ThanaID]) VALUES (2, N'Jalkuri', N'Jalkuri-038-07', N'4HNTRx3HMIn1+jjQ8I+qx4RnrWeJvvVen9vsQ3XHbMM=', 38)
INSERT [dbo].[Center_tbl] ([ID], [Name], [Code], [Password], [ThanaID]) VALUES (3, N'Baligao', N'Baligao-035-06', N'Dmj8zCKZ22AbuHprnlpt2rs4de+4XrWrakI51b9zXds=', 35)
SET IDENTITY_INSERT [dbo].[Center_tbl] OFF
SET IDENTITY_INSERT [dbo].[Disease_tbl] ON 

INSERT [dbo].[Disease_tbl] ([ID], [Name], [Description], [Treatment]) VALUES (1, N'Diarrhoea', N'Decreases level of water in body', N'saline,Flagyl')
INSERT [dbo].[Disease_tbl] ([ID], [Name], [Description], [Treatment]) VALUES (2, N'Diabetes', N'High blood sugar ', N'oramate,insuline')
INSERT [dbo].[Disease_tbl] ([ID], [Name], [Description], [Treatment]) VALUES (3, N'Dengu', N'Sudden, high fever
Severe headaches
Pain behind the eyes', N'There is no specific medicine to treat dengue infection. If you think you may have dengue fever, you should use pain relievers with acetaminophen and avoid medicines with aspirin, which could worsen bleeding. ')
SET IDENTITY_INSERT [dbo].[Disease_tbl] OFF
SET IDENTITY_INSERT [dbo].[District_tbl] ON 

INSERT [dbo].[District_tbl] ([ID], [Name], [Population]) VALUES (1, N'Dhaka', 12043977)
INSERT [dbo].[District_tbl] ([ID], [Name], [Population]) VALUES (2, N'Faridpur', 1912969)
INSERT [dbo].[District_tbl] ([ID], [Name], [Population]) VALUES (3, N'Gazipur', 3403912)
SET IDENTITY_INSERT [dbo].[District_tbl] OFF
SET IDENTITY_INSERT [dbo].[Doctor_tbl] ON 

INSERT [dbo].[Doctor_tbl] ([ID], [Name], [Degree], [Specialization], [CenterID]) VALUES (1, N'Khaled', N'MBBS', N'Child Specialist', 31)
INSERT [dbo].[Doctor_tbl] ([ID], [Name], [Degree], [Specialization], [CenterID]) VALUES (2, N'Dr. Khaled', N'MBBS, FCPS', N'Skin', 35)
INSERT [dbo].[Doctor_tbl] ([ID], [Name], [Degree], [Specialization], [CenterID]) VALUES (3, N'Dr. Raju Ahmed', N'MBBS , FCPS', N'Child Specialist', 35)
SET IDENTITY_INSERT [dbo].[Doctor_tbl] OFF
SET IDENTITY_INSERT [dbo].[MedicineList_tbl] ON 

INSERT [dbo].[MedicineList_tbl] ([ID], [MedicineNameWithML]) VALUES (3, N'Ace plus 500mg')
INSERT [dbo].[MedicineList_tbl] ([ID], [MedicineNameWithML]) VALUES (11, N'Alatrol 10mg')
INSERT [dbo].[MedicineList_tbl] ([ID], [MedicineNameWithML]) VALUES (8, N'Alatrol 150ml')
SET IDENTITY_INSERT [dbo].[MedicineList_tbl] OFF
SET IDENTITY_INSERT [dbo].[Prescription_tbl] ON 

INSERT [dbo].[Prescription_tbl] ([ID], [MedicineID], [DiseaseID], [Dose], [Quantity], [MealTime], [Note], [TreatmentID]) VALUES (5, 3, 1, N'10', 10, N'After Meal', N'Take rest', 3)
INSERT [dbo].[Prescription_tbl] ([ID], [MedicineID], [DiseaseID], [Dose], [Quantity], [MealTime], [Note], [TreatmentID]) VALUES (6, 11, 1, N'10', 5, N'Before Meal', N'Take rest', 3)
INSERT [dbo].[Prescription_tbl] ([ID], [MedicineID], [DiseaseID], [Dose], [Quantity], [MealTime], [Note], [TreatmentID]) VALUES (7, 3, 1, N'10', 10, N'After Meal', N'Take rest', 4)
SET IDENTITY_INSERT [dbo].[Prescription_tbl] OFF
SET IDENTITY_INSERT [dbo].[Quantity_tbl] ON 

INSERT [dbo].[Quantity_tbl] ([ID], [Quantity], [CenterID], [MedicineID]) VALUES (1, 122, 10, 9)
INSERT [dbo].[Quantity_tbl] ([ID], [Quantity], [CenterID], [MedicineID]) VALUES (2, 245, 10, 1)
INSERT [dbo].[Quantity_tbl] ([ID], [Quantity], [CenterID], [MedicineID]) VALUES (3, 550, 10, 2)
SET IDENTITY_INSERT [dbo].[Quantity_tbl] OFF
SET IDENTITY_INSERT [dbo].[Thana_tbl] ON 

INSERT [dbo].[Thana_tbl] ([ID], [Name], [DistrictID]) VALUES (1, N'Adabor ', 1)
INSERT [dbo].[Thana_tbl] ([ID], [Name], [DistrictID]) VALUES (4, N'Badda', 1)
INSERT [dbo].[Thana_tbl] ([ID], [Name], [DistrictID]) VALUES (5, N'Demra', 1)
GO
SET IDENTITY_INSERT [dbo].[Thana_tbl] OFF
SET IDENTITY_INSERT [dbo].[Treatment_tbl] ON 

INSERT [dbo].[Treatment_tbl] ([ID], [CenterID], [voterID], [DoctorID], [TreatmentDate], [Observation]) VALUES (3, 35, N'9509623450915', 2, N'6/23/2015', N'very sick')
INSERT [dbo].[Treatment_tbl] ([ID], [CenterID], [voterID], [DoctorID], [TreatmentDate], [Observation]) VALUES (4, 35, N'9509623450915', 2, N'6/26/2015', N'very sick')
INSERT [dbo].[Treatment_tbl] ([ID], [CenterID], [voterID], [DoctorID], [TreatmentDate], [Observation]) VALUES (5, 35, N'9509623450915', 2, N'7/11/2015', N'very sick')
SET IDENTITY_INSERT [dbo].[Treatment_tbl] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Center_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Center_tbl] ON [dbo].[Center_tbl]
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Disease_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Disease_tbl] ON [dbo].[Disease_tbl]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineList_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineList_tbl] ON [dbo].[MedicineList_tbl]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_MedicineList_tbl_1]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MedicineList_tbl_1] ON [dbo].[MedicineList_tbl]
(
	[MedicineNameWithML] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Quantity_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_Quantity_tbl] ON [dbo].[Quantity_tbl]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Treatment_tbl]    Script Date: 7/1/2015 7:57:49 AM ******/
CREATE NONCLUSTERED INDEX [IX_Treatment_tbl] ON [dbo].[Treatment_tbl]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Doctor_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_tbl_Center_tbl] FOREIGN KEY([CenterID])
REFERENCES [dbo].[Center_tbl] ([ID])
GO
ALTER TABLE [dbo].[Doctor_tbl] CHECK CONSTRAINT [FK_Doctor_tbl_Center_tbl]
GO
ALTER TABLE [dbo].[Prescription_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_tbl_Treatment_tbl] FOREIGN KEY([TreatmentID])
REFERENCES [dbo].[Treatment_tbl] ([ID])
GO
ALTER TABLE [dbo].[Prescription_tbl] CHECK CONSTRAINT [FK_Prescription_tbl_Treatment_tbl]
GO
ALTER TABLE [dbo].[Quantity_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Quantity_tbl_Center_tbl1] FOREIGN KEY([CenterID])
REFERENCES [dbo].[Center_tbl] ([ID])
GO
ALTER TABLE [dbo].[Quantity_tbl] CHECK CONSTRAINT [FK_Quantity_tbl_Center_tbl1]
GO
ALTER TABLE [dbo].[Quantity_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Quantity_tbl_MedicineList_tbl] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[MedicineList_tbl] ([ID])
GO
ALTER TABLE [dbo].[Quantity_tbl] CHECK CONSTRAINT [FK_Quantity_tbl_MedicineList_tbl]
GO
ALTER TABLE [dbo].[Thana_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Thana_tbl_District_tbl] FOREIGN KEY([DistrictID])
REFERENCES [dbo].[District_tbl] ([ID])
GO
ALTER TABLE [dbo].[Thana_tbl] CHECK CONSTRAINT [FK_Thana_tbl_District_tbl]
GO
ALTER TABLE [dbo].[Treatment_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_tbl_Center_tbl] FOREIGN KEY([CenterID])
REFERENCES [dbo].[Center_tbl] ([ID])
GO
ALTER TABLE [dbo].[Treatment_tbl] CHECK CONSTRAINT [FK_Treatment_tbl_Center_tbl]
GO
ALTER TABLE [dbo].[Treatment_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_tbl_Doctor_tbl] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor_tbl] ([ID])
GO
ALTER TABLE [dbo].[Treatment_tbl] CHECK CONSTRAINT [FK_Treatment_tbl_Doctor_tbl]
GO
ALTER TABLE [dbo].[Treatment_tbl]  WITH CHECK ADD  CONSTRAINT [FK_Treatment_tbl_Treatment_tbl1] FOREIGN KEY([ID])
REFERENCES [dbo].[Treatment_tbl] ([ID])
GO
ALTER TABLE [dbo].[Treatment_tbl] CHECK CONSTRAINT [FK_Treatment_tbl_Treatment_tbl1]
GO
USE [master]
GO
